*~
*.o
*.os
*.obj
*.a
*.lib
*.so
*.dylib
.scon*
*.bak
*.pyc
*.swp
*.swo
*.patch
*.log
*.gcda
*.gcno
*.gcov
.dirstamp
tags
core.*
callgrind.out.*
*.rpm
*.deb
compile
Makefile
missing
nohup.out
doc
examples/terraform.tfstate
examples/.terraform.d/
examples/.terraform
examples/.terraform.lock.hcl
.idea
bin/*